.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    bottom: 0;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-item{
    width: 33.33%;
}